.user-table{
    width:100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    td,th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        td{
            height: 50px;
            &:hover{
                cursor: pointer;
            }
        }
}

.paper-list-user{
    box-shadow: 5px 5px 30px green !important;
}